<% content_for :page_title, "Amsterdam paid creative internships - " %>

<!-- Intro what's this -->
<div id="intro">
  <h1>
    This is a list of companies & studios in Amsterdam that pay their design/creative interns more than the <a target="blank" href="https://www.government.nl/topics/minimum-wage/amount-of-the-minimum-wage">Amsterdam living wage</a> (currently €749.00/month without benefits.)
  </h1>

  <% if @companies.count > 9 %>
    <form>
      <input type="text" name="q" value="<%= params[:q] %>" placeholder="search"/>
    </form>
  <% end %>

  <% if flash[:success].present? %>
      <div class="success">
        <%= flash[:success] %>
      </div>
  <% end %>

  <section class="CompanyList">
    <% @companies.each do |company| %>
      <%= link_to company.company_name, "http://#{company.company_url}", :target => "_blank", class: "listItem" %>
    <% end %>
  </section>
</div>

<div id="outro">
  <h1>
    Know a place that belongs on this list? Submit it <%= link_to "here", new_company_path %>
  </h1>
  <a href="http://payinterns.nyc" target="_blank">Paid internships in NYC?</a>
</div>

<div class="social">
  <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?text=A list of Amsterdam offices that pay their creative interns more than the Amsterdam minimum wage:">Tweet</a>
  <div class="fb-share-button" data-href="https://payinterns.amsterdam" data-layout="button" data-size="large">Share</div>
</div>
