<!DOCTYPE html>
<html>
  <head>
    <title>PayinternsAmsterdam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="intro">
      <h1>
        This is a list of companies & studios in Amsterdam that pay their design/creative interns more than the <a target="blank" href="https://www.government.nl/topics/minimum-wage/amount-of-the-hourly-minimum-wage">Amsterdam living wage</a> (currently €9.11/hr without benefits.)
      </h1>
    </div>
    <%= yield %>
  </body>
</html>
